<!DOCTYPE html>
<html>
    <head>
        <title>VaccinApp - Child / Dependent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% load static %}
        <!-- CSS links -->
        <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
        <link href="{% static 'meds/css/child.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="shortcut icon" href="{%  static 'users/images/favicon.ico' %}">
        <!-- Script links -->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>
    <body>
        <div id="header">
            <div id="headSub">
                <!-- <img src="../../static/users/images/head_logo.png" alt="VaccinApp Logo"> -->
                <h3>VaccinApp</h3>
                <h6>a shot at good health</h6>
            </div>
            <span><a href="/dashboard">Back</a> | <a href="/logout">Logout</a></span>
        </div>
        <h4>Tell us about the child</h4>
        <div class="main">
            <form class="edit-form" action='/dashboard/addchild' method='post'>
                {% csrf_token %}
                <input type="text" name='child_first'>First Name
                <input type="text" name='child_last'>Last Name
                <input type="date" name='dob' required>Birthday
                <p><input type="radio" name="gender" value="male">Male <input type="radio" name="gender" value="female">Female</p>Gender
                <!-- <p>Height</p> -->
                <input type="number" name="feet" min="0" max="8">Height (in feet)
                <input type="number" name="inches" min="0" max="36">Height (in inches)
                <input type="number" name="weight" min="0" max="300">Weight (pounds)
                <select class="form-control-sm" name="blood">
                    <option value="idk">I don't know</option>
                    <option value="o_pos">O+</option>
                    <option value="o_neg">O-</option>
                    <option value="a_neg">A-</option>
                    <option value="a_pos">A+</option>
                    <option value="b_neg">B-</option>
                    <option value="b_pos">B+</option>
                    <option value="ab_neg">AB-</option>
                    <option value="ab_pos">AB+</option>
                </select>Blood Type
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="ADD CHILD">
                </div>
            </form>
        </div>
    </body>
</html>