<!DOCTYPE html>
<html>
    <head>
        <title>VaccinApp - Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% load static %}
        <!-- CSS links -->
        <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
        <link href="{% static 'meds/css/med_dashboard.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="shortcut icon" href="{%  static 'users/images/favicon.ico' %}">
        <!-- Script links -->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>
    <body>
        <div id="header">
            <div id="headSub">
                <!-- <img src="../../static/users/images/head_logo.png" alt="VaccinApp Logo"> -->
                <h3>VaccinApp</h3>
                <h6>a shot at good health</h6>
            </div>
            <span id="welcomeSpan">Welcome, {{users.first_name}} {{users.last_name}}</span>
            <span><a href="/edit_user">Edit Account Info</a> | <a href="/logout">Logout</a></span>
        </div>
        <h4>Children</h4>
        <div class="main">
            <div class="children-form">
                <a id="addchild" href="/dashboard/child">ADD A CHILD</a>
                {% for child in all_children %}
                <ul id="childInfo">
                    {% if child.user.id == request.session.user_id %}
                    <li><b>{{child.first_name}} {{child.last_name}}</b> </li>
                    <li>Birthday: {{child.dob|date:"F d, Y"}}</li>
                    <li>Gender: {{child.gender.capitalize}}</li>
                    <li><button><a id="vs" href="/dashboard/viewvaccine/{{child.id}}">Vaccine Schedule</a></button></li>
                    {% endif %}
                    <li>{% if child.user.id == request.session.user_id %}<a class="childLinks" href="/dashboard/delete/{{child.id}}">Delete</a> | <a class="childLinks" href="/dashboard/edit_child/{{child.id}}">Edit Child Info</a>{% endif %}</li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </body>
</html>