<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vaccines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="/static/index.css">  -->

    <style>
        * {
            text-align: center;
        }

        h6 {
            color: red;
            margin-top: -12px;
        }

        #vs,
        #vs:hover {
            color: black;
            text-decoration: none;
        }

        .x {
            color: red;
        }

        .space {
            height: 500px;
        }
    </style>

</head>

<body>
    <div class="border">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>VaccinApp</h3>
                    <h6>a shot at good health</h6>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <a href="/dashboard">Back</a> | <a href="/logout">Logout</a></p>
                </div>
            </div>
        </div>

        <div class="col">

            <h1>{{child_info.first_name|title}} {{child_info.last_name|title}}</h1>
            {% if length_vac == 0 %}
            <td>There are no upcoming vaccinations due for {{child_info.first_name|title}}.</td>
            {% endif %}

            <table class="table table-striped">
                {% if length_vac > 0 %}
                <h4>Upcoming Vaccinations</h4><button><a id="vs" href="#">Make Appointment</a></button>

                <tr>
                    <th></th>
                    <th>Vaccine</th>
                    <th>Abbreviation</th>
                    <th></th>
                </tr>
                {% for vac in child_vacs %}
                <tr>
                    <td><a class="x" href="#">X</a></td>
                    <td>{{vac.name}}</td>
                    <td>{{vac.abbreviation}}</td>
                    <td><a href="{{vac.url}}">Learn More</a></td>
                </tr>
                
                {% endfor %}
                {% endif %}
            </table>
        </div>


    </div>
    </div>
    <div class="space">

    </div>
</body>

</html>